<div class="abt">
  <h1>About Me:</h1>
  <p>I am a Full Stack Developer with a passion for building user-friendly websites. I am currently studying in Bethel Tech and starting to have a strong understanding of both front-end and back-end development.</p>
</div>
<div class="skillsWrapper">
  <div class="frontEndSkills">
    <div>
      <i class="fa-solid fa-code"></i>
      <h3>Front-End Skills</h3>
    </div>
    <ul>
      <li>HTML</li>
      <li>CSS</li>
      <li>JavaScript</li>
    </ul>
  </div>
  <div class="backEndSkills">
    <div>
      <i class="fa-brands fa-angular"></i>
      <h3>Back-End Skills</h3>
    </div>
    <ul>
      <li>Git</li>
      <li>Angular</li>
      <li>TypeScript</li>
    </ul>
  </div>
  <div class="otherSkills">
    <div>
      <i class="fa-solid fa-screwdriver-wrench"></i>
      <h3>Other Skills</h3>
    </div>
    <ul>
      <li>Problem Solver</li>
      <li>Creative Thinking</li>
      <li>Adaptability</li>
    </ul>
  </div>
</div>