div {
    margin-top: 50px;
    text-align: center;
}

h1 {
    margin-bottom: 25px;
}

a {
    color: black;
    font-size: 30px;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}